.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #000;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header h1 {
  width: 1170px;
  margin: 0 auto;
  font-weight: bold;
  padding: 0 1rem;
}

.main {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.sidebar {
  flex-basis: 25%;
  height: 100%;
  background-color: #000;
}

.content {
  background-color: #121212;
  flex: auto;
  padding: 48px;
}

.footer {
  background-color: #000;
  width: 100%;
  height: 60px;
}
